.login-box{
    text-align: center;
    color: white;
    position: relative;
    border: solid 5px white;
    margin-top: 1%;
    margin: auto;
    height: 60vh;
    width: 30vw;

}

.create-account-box{

}

.username-field{
    background-color: gray;
    padding: 20px;
    margin-bottom: 10px;
}

.password-field{
    background-color: gray;
    padding: 20px;
    margin-bottom: 10px;
}

.password-cnfm-field{
    background-color: gray;
    padding: 20px;
}

.submit-login-btn{
    margin-top: 5%;
    padding:0.9em 2.2em;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:300;
    background-color:#DBE7EA;
    color:black;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
    font-size:medium;
    cursor: pointer;
    font-weight: 525;
}

.submit-login-btn:hover{
    background-color:black;
    color:white;
    border-color: rgba(255,255,255,1);
}

.create-account-instructions{
    
    margin-top: 10%;
    display: inline-block;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.email-addy-field{
    background-color: gray;
    padding: 20px;
    margin-bottom: 10px;
}

.submit-login-btn-google{
    margin-top: 0;
    padding:0.9em 2.2em;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:300;
    background-color:#DBE7EA;
    color:black;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
    font-size:medium;
    cursor: pointer;
    font-weight: 525;
}

.submit-login-btn-google:hover{
    background-color:black;
    color:white;
    border-color: rgba(255,255,255,1);
}