.preview_layout{
   display: flex;
   

}

.header-layout{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.title-component{
    flex: 3;
    order:1
}

.loginBtn-component{
    flex: 2;
    order:2;
}
/* header{
    display: flex;
    top: 0;
    width: 100%;
    margin: 0;
    left: 0px;
    margin-left: 0;   
  }
   */